.title {
  font-family: Montserrat, sans-serif;
  background: #a52a2a;
  color: white;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}

.container {
  width: 712px;
  margin: 0 auto;
  padding-left: 5px;
  line-height: 1.3;
  margin-top: 80px;
}

.paragraph {
  font-family: "Varela Round", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}

.cars {
  display: flex;
  justify-content: center;
}

.border {
  margin: 2px;
  border: 2px dashed black;
}

.footer {
  font-family: Montserrat, sans-serif;
  text-align: center;
  background: #000000;
  color: white;
  margin-top: 40px;
  font-size: 22px;
}

.colortext {
  color: #0000ff;
  font-style: italic;
  font-weight: bold;
}

.fontitalic {
  font-style: italic;
}

.fontbold {
  font-weight: bold;
}
